-- ============================================================================
-- Import leads from sheet into public.leads + public.lead_stage_data
-- Run in Supabase SQL Editor. Requires public.user_profiles (full_name).
-- Reference: IMP0001, IMP0002, ... ; created_at from Lead Generation Date.
-- ============================================================================;

CREATE SEQUENCE IF NOT EXISTS lead_import_ref_seq START 1;

DO $$
DECLARE
  r RECORD;
  lid UUID;
  ref_no TEXT;
  lead_gen_ts TIMESTAMPTZ;
  poc_id UUID;
BEGIN
  -- Budge Budge Petro Chemical Pvt Ltd | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-13', 'YYYY-MM-DD');
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Rimpa Manik' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Budge Budge Petro Chemical Pvt Ltd', 'Demo Completed', 'Closed', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'lead_details', jsonb_build_object('person_name', 'Akash Kumbhakar', 'mobile_number', '9476158188', 'email_id', 'bbpetrochem.store@gmail.com', 'lead_generation_date', '2025-05-13', 'lead_generated_by', 'Website'));
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'contacted', '{}'::jsonb);
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'brochure', '{}'::jsonb);

  -- Purv Group | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-14', 'YYYY-MM-DD');
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Purv Group', 'Demo Completed', 'Open', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;

  -- Kaatyaani Equipments | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-16', 'YYYY-MM-DD');
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shreyasi Mukherjee' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Kaatyaani Equipments', 'Quotation', 'Open', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;

END $$;

-- Done. Check public.leads and public.lead_stage_data.
