-- ============================================================================
-- Import leads from sheet into public.leads + public.lead_stage_data
-- Run in Supabase SQL Editor. Requires public.user_profiles (full_name).
-- Reference: IMP0001, IMP0002, ... ; created_at from Lead Generation Date.
-- ============================================================================

CREATE SEQUENCE IF NOT EXISTS lead_import_ref_seq START 1;

DO $$
DECLARE
  r RECORD;
  lid UUID;
  ref_no TEXT;
  lead_gen_ts TIMESTAMPTZ;
  poc_id UUID;
BEGIN
  -- Budge Budge Petro Chemical Pvt Ltd | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-13', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Rimpa Manik' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Budge Budge Petro Chemical Pvt Ltd', 'Demo Completed', 'Closed', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'lead_details', jsonb_build_object('person_name', 'Akash Kumbhakar', 'mobile_number', '9476158188', 'email_id', 'bbpetrochem.store@gmail.com', 'lead_generation_date', '2025-05-13', 'lead_generated_by', 'Website'));
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'contacted', '{}'::jsonb);
  INSERT INTO public.lead_stage_data (lead_id, stage_slug, data) VALUES (lid, 'brochure', '{}'::jsonb);

  -- Purv Group | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-14', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Purv Group', 'Demo Completed', 'Open', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;

  -- Kaatyaani Equipments | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-16', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shreyasi Mukherjee' LIMIT 1;
  INSERT INTO public.leads (company_name, stage, status, assigned_poc_id, reference_no, created_at)
  VALUES ('Kaatyaani Equipments', 'Quotation', 'Open', poc_id, ref_no, lead_gen_ts)
  RETURNING id INTO lid;

  -- Om Shree Rupesh Steels Pvt. Ltd. | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-24', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Blumet Tubes Pvt. Ltd. | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-25', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Vishakha Pipes | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-26', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shaligram Infrastructures Pvt Ltd | Closed | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-06', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shree Ramdoot Rollers Pvt. Ltd | Closed | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-07', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Accropoly Metal Industries Pvt. Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-06', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Bihar Foundry | Open | First Invoice Payment
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-11', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Chamundi Extursions | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-11', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Kothari Chemicals (Engineering Divison) | Closed | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-12', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Allied iron products pvt. ltd | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-13', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Servo Packaging Ltd. | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-11', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Steellfo Steels LLP | Open | Brochure
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-20', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Prakash Steel Products Pvt Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-23', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Super Steel India | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-22', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- JBR Footwear | Open | Brochure
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-22', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Maha Gauri Strips Pvt Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-23', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shilphy Steel Pvt Ltd (SDRM) | Open | First Invoice Payment
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-20', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Adukia Industries Pvt. Ltd. | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-20', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Dayal Steels | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-20', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- RoyalTouch Fablon | Closed | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-12', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Coffers Metallics Pvt Ltd | Open | First Invoice Payment
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-27', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Grizzly School | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-02', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Goel Alloy & Steel Pvt. Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-08', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Ganpati Engineering | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-23', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- East India Holding | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-23', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- IAEC (Calcutta) Pvt. Ltd. | Closed | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-16', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Maa Durga Iron and Steel | Open | Contacted
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-21', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Akshat Construction | Open | Contacted
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-25', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shree Shanti Polypacks | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-31', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Jaishree | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- HR Ispat | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Ansh Ispat LLP | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-30', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Neel Kamal Polytex | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- SRB Plasticpack LLP | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Calcutta Iron Udyog | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-06-13', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Jalnidhi Bitumen Specialities Pvt. Ltd. | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-05', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Megaflex | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-07-23', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Surya Alloy Industries | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-04', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- M R Engineers / Jai Maa Tarini | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-16', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Sunrise Printpack | Closed | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-08', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Kamaldeep Ispat | Open | Brochure
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Arya Iron & Steel Company Pvt Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-28', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shree Bholey Alloys Pvt Ltd | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-30', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Srijan Alloys & Steel Pvt. Ltd. | Closed | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-09-01', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Hanumant Alloys (India) Pvt. Ltd. | Closed | First Invoice
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-09-01', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Ambica Jute Mills Limited | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-28', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Umang Boards | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-09-08', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Samarth Fablon | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-08-28', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Mahamaya Steel Industries Ltd. | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-26', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Rishabh Sponge Pvt Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-09-18', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- K P AND GRANDSONS | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-10-03', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- BlackRock | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Pragati Ingots & Power | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Calcast Ferro | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Deepak Steel Barbil (2 units) | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Sangeet Enterprise | Open | Demo Schedule
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- AS mechanicals | Open | PO
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- R L Commercial | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shri Mahavir Iron & Steel | Open | Account Setup
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Krishna Woven Sacks Pvt Ltd | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Jaibalajee Polypark Pvt Ltd | Open | Quotation
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shri Satya Group | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Kedia Carbon | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Ferro Metals | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := to_timestamp('2025-05-10', 'YYYY-MM-DD');
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Bhagwati Sponge | Open | Demo Completed
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Gaurav Dugar Bharat Engineers | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Vezron | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- GM Iron | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shubhashree Projects | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Hindustan Iron | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- Shree Shakhambari Ferro | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

  -- M/s JPK Metallics Pvt.Ltd | Open | Lead
  ref_no := 'IMP' || LPAD(nextval('lead_import_ref_seq')::text, 4, '0');
  lead_gen_ts := NOW();
  poc_id := NULL;
  SELECT id INTO poc_id FROM public.user_profiles WHERE full_name = 'Shubham Kejriwal' LIMIT 1;

END $$;

-- Done. Check public.leads and public.lead_stage_data.
